@use "./utilities.scss" as *;

.navbar {
    @include unselectable;

    display: inline-block;

    margin: 0px;
    height: 2.5em;
    width: 100%;
    background-color:#5292db;
}
.button {
    height: 1.5em;
    background-color: #5292db;
    border-color: white;
    font-family: Impact;
    color:white;
    font-size: 20px;
    margin-top: 0.1gitem;
    margin: .25em;
    float: right;
}

.navbar-title {
    padding-left: .2em;
    @include main-text;
    font-size: 2em;
    float: left;
}